/*
 Created By: Matthew Weaver
 Date: May 9, 2019
 Format: JQuery / Mobile Views
*/

/*
	Purpose: This is a styling file for mobile viewing.
*/

@media min-width(200px) and max-width(600px){
	
	@media screen and (orientation: portrait){
		html, h1, h2, h3, h4, h5, h6, ::before, ::after, ui, 
		ul, li, form, input, section, p, article, label, a, body, footer{
			font-size: 2vw;
			font-variant: arial;
		}
		
		header{
			background-color: rgby(100, 100, 25);
		}
	}
	
	@media screen and (orientation: landscape){
		html, h1, h2, h3, h4, h5, h6, ::before, ::after, ui, 
		ul, li, form, input, section, p, article, label, a, body, footer{
			font-size: 2vw;
			font-variant: arial;
		}
		
		header{
			background-color: rgby(40, 80, 60);
		}
		
	}
}