/*
 Created By: Matthew Weaver
 Date: May 9, 2019
 Format: JQuery / Mobile Views
*/

/*
	Purpose: This is a styling file for mobile viewing.
*/
	
@media screen and (orientation: portrait){
	
		html, h1, h2, h3, h4, h5, h6, ::before, ::after, ui, 
		ul, li, form, input, section, p, article, label, a, body, footer{
			font-size: 3vw; /* 10% of screensize */
			font-variant: arial;
		}
		
		header{
			background-color: rgb(100, 100, 25);
			height: 3.75em; /* 60px/16=3.75em */
		}

		header h1{
			color: #fff;
			padding: .5em;
			width: 2.5em;
		}

}
	
@media screen and (orientation: landscape){
	
		html, h1, h2, h3, h4, h5, h6, ::before, ::after, ui, 
		ul, li, form, input, section, p, article, label, a, body, footer{
			font-size: 2vw; /* 10% of screensize */
			font-variant: arial;
		}
		
		header{
			background-color: rgb(40, 80, 60);
			height: 3.75em; /* 60px/16=3.75em */
		}
	
		header h1{
			color: #fff;
			padding: .5em;
			width: 2.5em;
		}

}