/*
 Created By: Matthew Weaver
 Date: May 9, 2019
 Format: JQuery
*/

	html, h1, h2, h3, h4, h5, h6, ::before, ::after, ui, 
	ul, li, form, input, section, p, article, label, a, body{
		content: "";
		padding: 0;
		border: 0;
		margin: 0;
	}
	
	html{
		height: 100%;
		width: 100%;
		background-color: 0;
	}
	
	header{
		width: 100%;
		height: 5em;
		background-color: 0;
	}